---
title: Tommy Lee
---
<div class="about-container">
<div class="container">

<nav class="about-nav" id="navigation">
  <%= link_to 'Work', 'index' %>
  <%= link_to 'About', 'about', class: 'active' %>
</nav>

<section class="hero-image">
  <figure>
    <%= image_tag 'tommy-lee-headshot.jpg' %>
  </figure>
  <p><span>Hi,</span> I'm Tommy Lee</p>
</section>


<section class="about-section">
  <section class="bio">
    <h1>What I Do</h1>

    <p>
    I direct, write, edit and produce stories. I love film that entertains us 
    in the narrow margin between absurd and profound, reminding us to smile. 
    I'm inspired by drama, surrealism, comedy, sci-fi and all their hybrid genres. 
    My current focus is to hone short narratives, expand my community of creative 
    friends and move towards feature films.
    </p>

    <hr />

    <h1>What I've Done</h1>

    <p>
    In 2017, I graduated from Capilano University’s Bachelor of Motion Picture Arts 
    Program with the Dean’s Award of Excellence. Between academic years, I directed a 
    trilogy of <%= link_to 'award-winning music videos', 'https://www.youtube.com/playlist?list=PLPXiEVa1Gx4IuXGggmexlwvG-xvvNA7cT', target: '_blank' %> for the band Good For Grapes. My film's 
    have screened at NFFTY, The Whistler Film Festival, The Los Angeles Music Video 
    Festival and The Chicago International Film Festival. I have interned at 
    <%= link_to 'Prettybird', 'http://prettybird.co', target: '_blank' %> (London, UK) 
    to learn from music video professionals, the 
    <%= link_to 'Oldenburg International Film Festival', 'http://www.filmfest-oldenburg.de/en/news/', target: '_blank' %> (Germany) 
    to discover how great independent films get exhibited, and had a screenwriting 
    masterclass doing reader’s reports for 
    <%= link_to 'Brightlight Pictures', 'http://www.brightlightpictures.com/', target: '_blank' %> (Vancouver, Canada).
    </p>

    <hr />

    <h1>What's Next?</h1>

    <p>
    I’m developing a webseries that examines the humour and drama of daily life, 
    set 20 years in the future. I’m also working on a VR narrative that explores 
    how people react to the unknown.
    </p>

    <p>
    If you like my work, I’d love to talk!
    </p>
  </section>
</section>


<%= partial 'footer' %>


</div>
</div>
