---
title: Tommy Lee
---
<div class="container">
<nav id="navigation">
  <%= link_to 'Work', 'index', class: 'active' %>
  <%= link_to 'About', 'about' %>
</nav>

<section class="hero-display">
  <figure>
    <video id="hero-video" autoplay loop muted playsinline preload>
      <source src="http://d3jgex4r87x8se.cloudfront.net/sizzle-reel.mp4" type='video/mp4'>
    </video>
    <header>
      Tommy Lee  </br>
      <small>Writer // Director</small>
    </header>

    <div class="scroll-down"></div>
  </figure>
</section>

<section class="white-section first-white-section">
  <h1 class="date">2017</h1>
  <%= partial 'white-section-article', locals: {
    image: 'reel-small.jpg',
    title: 'Tommy Lee: <span class="line-break">Sizzle Reel</span>',
    category: 'Montage',
    role: 'Writer // Director',
    link: 'sizzle-reel.html'
  } %>

  <%= partial 'white-section-article', locals: {
    image: 'prediction-prophet-small.jpg',
    title: 'Prediction Prophet',
    category: 'Sketch',
    role: 'Writer // Director <span class="line-break">// Producer // Editor</span>',
    link: 'prediction-prophet.html'
  } %>
</section>

<section class="black-section">
  <h1 class="date">2016</h1>
  <%= partial 'black-section-article', locals: {
    image: 'ropes-small.jpg',
    title: 'Show Me The Ropes',
    category: 'Music Video',
    role: 'Writer // Director // Producer',
    link: 'show-me-the-ropes.html'
  } %>
</section>

<section class="white-section">
  <h1 class="date">2015</h1>
  <%= partial 'white-section-article', locals: {
    image: 'as-i-am-small.jpg',
    title: 'As I Am',
    category: 'Short',
    role: 'Director',
    link: 'as-i-am.html'
  } %>
</section>

<section class="black-section">
  <h1 class="date">2014</h1>
  <%= partial 'black-section-article', locals: {
    image: 'skipping-stone-small.jpg',
    title: 'Skipping Stone',
    category: 'Music Video',
    role: 'Co-writer, Director and Editor <span class="line-break">// Producer</span>',
    link: 'skipping-stone.html'
  } %>
</section>


<section class="white-section last-section">
  <h1 class="date">2013</h1>
  <%= partial 'white-section-article', locals: {
    image: 'renminbi-small.jpg',
    title: 'Renminbi Tips',
    category: 'Music Video',
    role: 'Writer // Director',
    link: 'renminbi-tips.html'
  } %>
</section>

<%= partial 'footer-white' %>
</div>
