---
title: Tommy Lee
---
<div class="container">

<nav>
  <%= link_to 'Work', 'index', class: 'active' %>
  <%= link_to 'About', 'about' %>
</nav>

<section class="hero-display">
  <figure>
    <video preload="auto" autoplay="autoplay" loop="loop" muted>
      <source src="https://r1---sn-nx57ynle.googlevideo.com/videoplayback?source=youtube&ip=2600%3A3c01%3A%3Af03c%3A91ff%3Afe24%3Ab564&ratebypass=yes&ipbits=0&signature=073C228B9DCD472E76ED3ADED70C33B72B9EA715.3D0115E9AF6F4DF17C79B41C64C1DE386F1BA33A&pl=22&ei=KTHUWfLyKcvx-QPTi4xw&id=o-ACpdIo-nGtc_Fxoq4CjlDPJtu5u2GeRQ4CpqRh9gPxPn&dur=219.683&mime=video%2Fmp4&lmt=1471757595096658&itag=22&requiressl=yes&sparams=dur,ei,expire,id,initcwndbps,ip,ipbits,itag,lmt,mime,mip,mm,mn,ms,mv,pl,ratebypass,requiressl,source&key=cms1&expire=1507100041&mip=50.68.168.227&redirect_counter=1&cm2rm=sn-ni5f-t8ge76&fexp=9462443&req_id=b87d7171a3daa3ee&cms_redirect=yes&mm=30&mn=sn-nx57ynle&ms=nxu&mt=1507078337&mv=m" type="video/mp4"></source>
    </video>
    <header>Tommy Lee</header>
  </figure>
</section>

<section class="white-section first-white-section">
  <h1 class="date">2017</h1>
  <article>
    <section class="white-section__text">
      <header>Milk Chug</header>
      <p>Writer // Director</p>
    </section>

    <figure>
      <%= image_tag 'milk-chug.jpg' %>
    </figure>
  </article>

</section>

<section class="black-section">
  <h1 class="date">2016</h1>
  <article>
    <figure>
      <% link_to('https://www.youtube.com/watch?v=Whlr-cST1vw') do %>
        <%= image_tag 'ropes.jpg' %>
      <% end %>
    </figure>

    <section class="black-section__text">
      <% link_to('https://www.youtube.com/watch?v=Whlr-cST1vw') do %>
        <header>Show Me The Ropes</header>
      <% end %>
      <p>Writer // Director // Producer</p>
    </section>
  </article>
</section>

<section class="white-section">
  <h1 class="date">2015</h1>
  <article>
    <section class="white-section__text">
      <header>As I Am</header>
      <p>Director</p>
    </section>

    <figure>
      <%= image_tag 'as-i-am.jpg' %>
    </figure>
  </article>
</section>


<section class="black-section">
  <h1 class="date">2014</h1>
  <article>
    <figure>
      <% link_to('https://www.youtube.com/watch?v=l2rmfhdKdxo') do %>
        <%= image_tag 'skipping-stone.jpg' %>
      <% end %>
    </figure>

    <section class="black-section__text">
      <% link_to('https://www.youtube.com/watch?v=l2rmfhdKdxo') do %>
        <header>Skipping Stones</header>
      <% end %>
      <small>Co-Writer // Director // Editor // Producer</small>
    </section>
  </article>
</section>

<section class="white-section last-section">
  <h1 class="date">2013</h1>
  <article>
    <section class="white-section__text">
      <% link_to('https://www.youtube.com/watch?v=mSJa0ZGaL8c') do %>
        <header>Renmimbi Tips</header>
      <% end %>
      <p>Writer // Director</p>
    </section>

    <figure class="figure-award">
      <% link_to('https://www.youtube.com/watch?v=mSJa0ZGaL8c') do %>
        <%= image_tag 'renmimbi.png' %>
      <% end %>
    </figure>
  </article>
</section>

</div>
