---
title: Tommy Lee
---
<div class="container">
<nav id="navigation">
  <%= link_to 'Work', 'index', class: 'active' %>
  <%= link_to 'About', 'about' %>
</nav>

<section class="hero-display">
  <figure>
    <video id="hero-video" autoplay loop muted playsinline preload>
      <source src="<%= data.headers.backgroundVideo %>" type='video/mp4'>
    </video>
    <header>
      <%= data.headers.name %></br>
      <small><%= data.headers.title %></small>
    </header>

    <div class="scroll-down"></div>
  </figure>
</section>

<% data.dates.each_with_index do |date, index| %>
  <% if date[0].to_i.odd? %>
    <% if index == 0 %>
      <section class="white-section first-white-section">
    <% elsif index == (data.dates.length - 1) %>
      <section class="white-section last-section">
    <% else %>
      <section class="white-section">
    <% end %>
      <h1 class="date"><%= date[0] %></h1>
      <% date[1].each do |feature| %>
        <%= partial 'white-section-article', locals: {
          image: feature.image,
          title: feature.title,
          category: feature.category,
          role: feature.role,
          link: feature.link
        } %>
      <% end %>
    </section>
  <% else %>
    <section class="black-section">
      <h1 class="date"><%= date[0] %></h1>
      <% date[1].each do |feature| %>
        <%= partial 'black-section-article', locals: {
          image: feature.image,
          title: feature.title,
          category: feature.category,
          role: feature.role,
          link: feature.link
        } %>
      <% end %>
    </section>
  <% end %>
<% end %>

<%= partial 'footer-white' %>
</div>
