---
title: Tommy Lee
---
<div class="container">

<nav>
  <%= link_to 'Work', 'index', class: 'active' %>
  <%= link_to 'About', 'about' %>
</nav>

<section class="hero-display">
  <figure>
    <video preload="auto" autoplay="autoplay" loop="loop">
      <source src="http://i.imgur.com/1o3GD0l.mp4" type="video/mp4"></source>
    </video>
    <header>Tommy Lee</header>
  </figure>
</section>

<section class="white-section first-white-section">
  <h1 class="date">2017</h1>
  <article>
    <section class="white-section__text">
      <header>Milk Chug</header>
      <p>Wrote/Directed</p>
    </section>

    <figure>
      <%= image_tag 'milk-chug.jpg' %>
    </figure>
  </article>

</section>

<section class="black-section">
  <h1 class="date">2016</h1>
  <article>
    <figure>
      <%= image_tag 'ropes.jpg' %>
    </figure>

    <section class="black-section__text">
      <header>Show Me The Ropes</header>
      <p>Wrote/Directed</p>
    </section>
  </article>
</section>

<section class="white-section">
  <h1 class="date">2015</h1>
  <article>
    <section class="white-section__text">
      <header>As I Am</header>
      <p>Wrote/Directed</p>
    </section>

    <figure>
      <%= image_tag 'as-i-am.jpg' %>
    </figure>
  </article>
</section>


<section class="black-section">
  <h1 class="date">2014</h1>
  <article>
    <figure>
      <%= image_tag 'skipping-stone.jpg' %>
    </figure>

    <section class="black-section__text">
      <header>Skipping Stones</header>
      <p>Wrote/Directed</p>
    </section>
  </article>
</section>

<section class="white-section last-section">
  <h1 class="date">2013</h1>
  <article>
    <section class="white-section__text">
      <header>Renmimbi Tips</header>
      <p>Wrote/Directed</p>
    </section>

    <figure class="figure-award">
      <%= image_tag 'renmimbi.png' %>
    </figure>
  </article>
</section>

</div>
