---
title: Tommy Lee
---
<div class="container">
<nav>
  <%= link_to 'Work', 'index', class: 'active' %>
  <%= link_to 'About', 'about' %>
</nav>

<section class="hero-display">
  <figure>
    <video id="hero-video" autoplay loop muted playsinline preload>
      <source src="https://s3.ca-central-1.amazonaws.com/lommytee/7.+Dec+2017+Site+Cut.mp4" type='video/mp4'>
    </video>
    <header>
      Tommy Lee  </br>
      <small>Writer // Director</small>
    </header>
  </figure>
</section>

<section class="white-section first-white-section">
  <h1 class="date">2017</h1>
  <%= partial 'white-section-article', locals: {
    image: 'reel.jpg',
    title: 'Tommy Lee: Sizzle Reel',
    role: 'Editor',
    link: 'sizzle-reel.html'
  } %>

  <%= partial 'white-section-article', locals: {
    image: 'prediction-prophet.jpg',
    title: 'Prediction Prophet',
    role: 'Writer // Director // Producer // Editor',
    link: 'prediction-prophet.html'
  } %>
</section>

<section class="black-section">
  <h1 class="date">2016</h1>
  <%= partial 'black-section-article', locals: {
    image: 'ropes.jpg',
    title: 'Show Me The Ropes',
    role: 'Writer // Director // Producer',
    link: 'show-me-the-ropes.html'
  } %>
</section>

<section class="white-section">
  <h1 class="date">2015</h1>
  <%= partial 'white-section-article', locals: {
    image: 'as-i-am.jpg',
    title: 'As I Am',
    role: 'Director',
    link: 'as-i-am.html'
  } %>
</section>

<section class="black-section">
  <h1 class="date">2014</h1>
  <%= partial 'black-section-article', locals: {
    image: 'skipping-stone.jpg',
    title: 'Skipping Stone',
    role: 'Co-writer, Director and Editor // Producer',
    link: 'skipping-stone.html'
  } %>
</section>


<section class="white-section last-section">
  <h1 class="date">2013</h1>
  <%= partial 'white-section-article', locals: {
    image: 'renmimbi.png',
    title: 'Renminbi Tips',
    role: 'Writer // Director',
    link: 'renminbi-tips.html'
  } %>
</section>

<%= partial 'footer-white' %>
</div>
