---
title: Tommy Lee
---
<div class="container">
<nav>
  <%= link_to 'Work', 'index', class: 'active' %>
  <%= link_to 'About', 'about' %>
</nav>

<section class="hero-display">
  <figure>
    <video id="hero-video" autoplay loop muted playsinline preload
      <source src="https://s3.ca-central-1.amazonaws.com/lommytee/7.+Dec+2017+Site+Cut.mp4" type='video/mp4'>
    </video>
    <header>
      Tommy Lee  </br>
      <small>Writer // Director</small>
    </header>
  </figure>
</section>

<section class="white-section first-white-section">
  <h1 class="date">2016</h1>
  <article>
    <figure class="mobile-figure">
      <% link_to('https://www.youtube.com/watch?v=Whlr-cST1vw', target: '_blank') do %>
        <%= image_tag 'ropes.jpg' %>
      <% end %>
    </figure>

    <section class="white-section__text">
      <% link_to('https://www.youtube.com/watch?v=Whlr-cST1vw', target: '_blank') do %>
        <header>Show Me The Ropes</header>
      <% end %>
      <p>Writer // Director // Producer</p>
    </section>

    <figure class="desktop-figure">
      <% link_to('https://www.youtube.com/watch?v=Whlr-cST1vw', target: '_blank') do %>
        <%= image_tag 'ropes.jpg' %>
      <% end %>
    </figure>
  </article>
</section>

<section class="black-section">
  <h1 class="date">2015</h1>
  <article>
    <figure class="mobile-figure">
      <%= image_tag 'as-i-am.jpg' %>
    </figure>

    <figure class="desktop-figure">
      <%= image_tag 'as-i-am.jpg' %>
    </figure>

    <section class="black-section__text">
      <header>As I Am</header>
      <p>Director</p>
    </section>
  </article>
</section>

<section class="white-section">
  <h1 class="date">2014</h1>
  <article>
    <figure class="mobile-figure">
      <% link_to('https://www.youtube.com/watch?v=l2rmfhdKdxo', target: '_blank') do %>
        <%= image_tag 'skipping-stone.jpg' %>
      <% end %>
    </figure>

    <section class="white-section__text">
      <% link_to('https://www.youtube.com/watch?v=l2rmfhdKdxo', target: '_blank') do %>
        <header>Skipping Stone</header>
      <% end %>
      <small>Co-writer, Director and Editor // Producer</small>
    </section>

    <figure class="desktop-figure">
      <% link_to('https://www.youtube.com/watch?v=l2rmfhdKdxo', target: '_blank') do %>
        <%= image_tag 'skipping-stone.jpg' %>
      <% end %>
    </figure>
  </article>
</section>


<section class="black-section last-black-section">
  <h1 class="date">2013</h1>
  <article>
    <figure class="desktop-figure">
      <% link_to('https://www.youtube.com/watch?v=mSJa0ZGaL8c', target: '_blank') do %>
        <%= image_tag 'renmimbi.png' %>
      <% end %>
    </figure>

    <figure class="mobile-figure">
      <% link_to('https://www.youtube.com/watch?v=mSJa0ZGaL8c', target: '_blank') do %>
        <%= image_tag 'renmimbi.png' %>
      <% end %>
    </figure>

    <section class="black-section__text">
      <% link_to('https://www.youtube.com/watch?v=mSJa0ZGaL8c', target: '_blank') do %>
        <header>Renminbi Tips</header>
      <% end %>
      <p>Writer // Director</p>
    </section>
  </article>
</section>
<%= partial 'footer-white' %>
</div>
